Repository kiralyandrasdev/CopyZilla: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml, azure-pipelines_web.yml

azure-pipelines-web-cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: CI
    displayName: Build, test and deploy docker image to ACR
    jobs:
    - job: Test
      displayName: Run tests
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DotNetCoreCLI@2
        inputs:
          command: test
  ...

azure-pipelines_api_cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines_web.yml:
  stages:
  - stage: Deploy
    displayName: Build and deploy
    jobs:
    - job: Build
      displayName: Build docker image
      pool:
        vmImage: $(macImage)
      steps:
      - task: FlutterInstall@0

added firebaseservice with app creation and delete func
  backend/CopyZillaBackend/CopyZillaBackend.sln
  backend/CopyZillaBackend/firebaseConfig.json
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Firebase/IFirebaseService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/CopyZillaBackend.Infrastructure.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Firebase/FirebaseService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/InfrastructureServiceRegistration.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

moved firebaseConfig to config folder
  backend/CopyZillaBackend/config/firebaseConfig.json
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Firebase/FirebaseService.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added FirebaseAdmin nuget to API project and added idToken validation middleware
  backend/CopyZillaBackend/Dockerfile
  backend/CopyZillaBackend/src/CopyZillaBackend.API/CopyZillaBackend.API.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/AuthorizationMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/ExceptionHandlerMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added Authorization to API and modified frontend to send access token with every request
  backend/CopyZillaBackend/src/CopyZillaBackend.API/CopyZillaBackend.API.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Exceptions/AuthException.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Json/ApplicationJsonSerializerSettings.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/AuthorizationMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/ExceptionHandlerMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Properties/launchSettings.json
  backend/CopyZillaBackend/src/CopyZillaBackend.API/firebaseConfig.json
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Firebase/FirebaseService.cs
  web/src/features/api/apiSlice.js
  web/src/features/authentication/authSlice.js
  web/src/features/editor/actions/editorActions.js
  web/src/features/editor/components/PromptResultView.js
  web/src/features/payment/actions/paymentActions.js
  web/src/features/payment/components/CreditRefillOption.js
  web/src/features/payment/components/SubscriptionOption.js
  web/src/features/saved_results/actions/savedResultsActions.js
  web/src/features/saved_results/promptResultsSlice.js
  web/src/pages/app/Create.js
  web/src/pages/app/CreditRefill.js
  web/src/pages/app/SavedResults.js
  web/src/pages/app/SelectSubscription.js
  web/src/redirect/AuthRedirect.js
  web/src/redirect/InitRedirect.js
  web/src/redux/store/store.js
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

Try fix for FirebaseApp instance creation
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added test case order to tests
  backend/CopyZillaBackend/tests/API.Tests/API.Tests.csproj
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/ProductTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Fixed null firebase instance in Auth middleware
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/AuthorizationMiddleware.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

removed related code from ui
  web/src/features/authentication/actions/authActions.js
  web/src/pages/app/account/DeleteAccount.js
Due: azure-pipelines-web-cd.yml

init changes
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Firebase/IFirebaseService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/CopyZillaBackend.Application.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Firebase/FirebaseService.cs
  web/src/pages/app/account/DeleteAccount.js
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

cleanup firebaseservice
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Firebase/FirebaseService.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

fixed should_delete_user test
  backend/CopyZillaBackend/tests/API.Tests/API.Tests.csproj
  backend/CopyZillaBackend/tests/API.Tests/Firebase/FirebaseManager.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

added dispose that clears stripe & firebase after each test method
  backend/CopyZillaBackend/tests/API.Tests/Firebase/FirebaseManager.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
  backend/CopyZillaBackend/tests/API.Tests/Stripe/StripeManager.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

resolved conflicts
  web/src/features/authentication/actions/authActions.js
  web/src/pages/app/account/DeleteAccount.js
Due: azure-pipelines-web-cd.yml

init ui preparations
  web/src/features/api/apiSlice.js
  web/src/pages/app/account/ChangeEmail.js
Due: azure-pipelines-web-cd.yml

refactor
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetUserQuery/GetUserQueryHandler.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

resolve error
  web/src/pages/app/account/DeleteAccount.js
Due: azure-pipelines-web-cd.yml

rewritten isloading
  web/src/pages/app/account/DeleteAccount.js
Due: azure-pipelines-web-cd.yml

validator should only validate the request -> moved stripe and firebase check to handler
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandValidator.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

message correction
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandValidator.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

password check added for email change & account deletion
  web/src/features/authentication/actions/authActions.js
  web/src/pages/app/account/ChangeEmail.js
  web/src/pages/app/account/DeleteAccount.js
Due: azure-pipelines-web-cd.yml

update user email in the backend
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Firebase/IFirebaseService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateUserCommand/UpdateUserCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Firebase/FirebaseService.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

small corrections on the ui
  web/src/pages/app/account/ChangeEmail.js
Due: azure-pipelines-web-cd.yml

map user to userfromdb to keep previous data, eg. creditcount untouched
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateUserCommand/UpdateUserCommandHandler.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

fixed update test and cleanup
  backend/CopyZillaBackend/tests/API.Tests/Firebase/FirebaseManager.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
  backend/CopyZillaBackend/tests/API.Tests/Stripe/StripeManager.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

init commit
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Controllers/UserController.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Prompt/IPromptBuilder.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/CopyZillaBackend.Application.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessAdvancedPromptEvent/DTO/AdvancedPromptOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessAdvancedPromptEvent/ProcessAdvancedPromptEvent.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessAdvancedPromptEvent/ProcessAdvancedPromptOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEvent.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessQuickPromptEvent/ProcessQuickPromptEvent.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessQuickPromptEvent/ProcessQuickPromptOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

implemented processemailpromptevent classes and extended promptbuilder
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Prompt/IPromptBuilder.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessAdvancedPromptEvent/ProcessAdvancedPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessQuickPromptEvent/ProcessQuickPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessQuickPromptEvent/ProcessQuickPromptEventResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

modfified options and validation
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

validateasync instead of validate
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Modified web project according to Email Assistant chrome extension
  web/.env
  web/package-lock.json
  web/package.json
  web/src/config/envConfig.js
  web/src/redirect/AuthRedirect.js
Due: azure-pipelines-web-cd.yml

added error message if user is out of credits
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

tone is neutral by default
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptOptions.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Implemented complete auth flow
  web/.env
  web/src/config/envConfig.js
  web/src/redirect/AuthRedirect.js
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/AuthWrapper.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/buttons/ReplyButton.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/utils/emailUtils.ts
  web_extensions/copyzilla_email_assistant/manifest.json
  web_extensions/copyzilla_email_assistant/package-lock.json
  web_extensions/copyzilla_email_assistant/package.json
  web_extensions/copyzilla_email_assistant/src/App.css
  web_extensions/copyzilla_email_assistant/src/App.tsx
  web_extensions/copyzilla_email_assistant/src/AuthWrapper.tsx
  web_extensions/copyzilla_email_assistant/src/components/InputField.module.css
  web_extensions/copyzilla_email_assistant/src/components/InputField.tsx
  web_extensions/copyzilla_email_assistant/src/components/LoadingIndicator.module.css
  web_extensions/copyzilla_email_assistant/src/components/LoadingIndicator.tsx
  web_extensions/copyzilla_email_assistant/src/components/PrimaryButton.module.css
  web_extensions/copyzilla_email_assistant/src/components/PrimaryButton.tsx
  web_extensions/copyzilla_email_assistant/src/components/styles/Form.css
  web_extensions/copyzilla_email_assistant/src/config/firebaseConfig.ts
  web_extensions/copyzilla_email_assistant/src/context/authContext.tsx
  web_extensions/copyzilla_email_assistant/src/features/api/apiActions.ts
  web_extensions/copyzilla_email_assistant/src/features/authentication/LoginForm.tsx
  web_extensions/copyzilla_email_assistant/src/features/models/model_application_user.ts
  web_extensions/copyzilla_email_assistant/src/features/models/model_generate_email.ts
  web_extensions/copyzilla_email_assistant/src/features/models/model_generate_email_response.ts
  web_extensions/copyzilla_email_assistant/src/main.css
  web_extensions/copyzilla_email_assistant/src/main.tsx
  web_extensions/copyzilla_email_assistant/src/views/SignedInView.tsx
  web_extensions/copyzilla_email_assistant/src/views/SignedOutView.tsx
  web_extensions/copyzilla_email_assistant/src/views/View.css
  web_extensions/copyzilla_email_assistant/tsconfig.json
  web_extensions/copyzilla_email_assistant/yarn.lock
Due: azure-pipelines-web-cd.yml

Connected Email Assistant extension to backend endpoint
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/App.css
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/context/optionsContext.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/ReplyOption.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/ReplyOptionList.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/buttons/ReplyButton.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/mood/ReplyMood.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/mood/ReplyMoodSelector.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/mood/ReplyTone.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/mood/ReplyToneSelector.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/response_type/ReplyType.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/response_type/ReplyTypeSelector.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/config/replyConfig.ts
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
  web_extensions/copyzilla_email_assistant/src/features/api/apiActions.ts
  web_extensions/copyzilla_email_assistant/src/features/models/model_generate_email.ts
  web_extensions/copyzilla_email_assistant/src/features/models/model_generate_email_response.ts
Due: none

Added support for providing instructions in Email Assistant extension
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/App.css
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/ReplyOption.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/ReplyOptionList.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/buttons/InstructionsButton.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/buttons/ReplyButton.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/mood/ReplyTone.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/mood/ReplyToneSelector.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/popups/InstructionsPopup.module.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/popups/InstructionsPopup.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/response_type/ReplyType.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/response_type/ReplyTypeSelector.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/main.css
  web_extensions/copyzilla_email_assistant/src/views/SignedInView.tsx
Due: none

Added conditional api and website url based on current environment in Email Assistant extension
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/src/config/envConfig.ts
  web_extensions/copyzilla_email_assistant/src/views/SignedInView.tsx
Due: none

Modified update email and implemented password update for user
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateUserCommand/UpdateUserCommandValidator.cs
  web/src/features/api/apiSlice.js
  web/src/features/authentication/actions/authActions.js
  web/src/features/authentication/authContext.js
  web/src/pages/app/account/ChangeEmail.css
  web/src/pages/app/account/ChangeEmail.js
  web/src/pages/app/account/ChangePassword.css
  web/src/pages/app/account/ChangePassword.js
  web/src/pages/app/account/DeleteAccount.js
  web/src/redirect/AuthRedirect.js
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

deactivated legacy pages and added home page for extension download redirect
  web/src/App.js
  web/src/index.css
  web/src/layout/header/PrivateHeader.js
  web/src/layout/sidebar/Sidebar.js
  web/src/pages/app/Home.css
  web/src/pages/app/Home.js
  web/src/pages/app/SelectSubscription.js
  web/src/redirect/AuthRedirect.js
  web/src/redirect/InitRedirect.js
Due: azure-pipelines-web-cd.yml

added new account button to extension, modified styling and modified website
  web/src/layout/header/PrivateHeader.js
  web_extensions/copyzilla_email_assistant/src/components/InputField.module.css
  web_extensions/copyzilla_email_assistant/src/components/InputField.tsx
  web_extensions/copyzilla_email_assistant/src/features/authentication/LoginForm.tsx
  web_extensions/copyzilla_email_assistant/src/views/SignedOutView.tsx
  web_extensions/copyzilla_email_assistant/src/views/View.css
Due: azure-pipelines-web-cd.yml

Path conditions:
  azure-pipelines-web-cd.yml: any of: web, but not: backend
  azure-pipelines.yml: any of: backend, but not: web
  azure-pipelines_api_cd.yml: any of: backend, but not: web
  azure-pipelines_web.yml: any of: copyzilla_web, but not: functions
