Repository kiralyandrasdev/CopyZilla: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-addin-cd.yml, azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml, azure-pipelines_dashboard_cd.yml, azure-pipelines_web.yml

azure-pipelines-addin-cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines-web-cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: CI
    displayName: Build, test and deploy docker image to ACR
    jobs:
    - job: Test
      displayName: Run tests
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DotNetCoreCLI@2
        inputs:
          command: test
  ...

azure-pipelines_api_cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines_dashboard_cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines_web.yml:
  stages:
  - stage: Deploy
    displayName: Build and deploy
    jobs:
    - job: Build
      displayName: Build docker image
      pool:
        vmImage: $(macImage)
      steps:
      - task: FlutterInstall@0

Merged PR 118: Emailprompt endpoint should respect email language
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Prompt/IPromptBuilder.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/OpenAI/OpenAIService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 119: Change name and logo of the addin
  outlook_addin/public/logo64.png
  outlook_addin/public/manifest.development.xml
  outlook_addin/public/manifest.xml
  outlook_addin/src/features/compose/components/templates/Templates.module.css
Due: azure-pipelines-addin-cd.yml

Merged PR 120: Changed logo of the addin
  outlook_addin/public/logo64.png
Due: azure-pipelines-addin-cd.yml

Merged PR 121: Migrated to gpt-3.5-turbo
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Models/OpenAIError.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Models/OpenAIRequest.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Models/OpenAIResponse.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/OpenAI/OpenAIService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 122: Prompt responses should not return text with apostrophes
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 123: Respect lower, upper case and punctuation mark when rephrasing text
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 124: Changed description of the addin
  outlook_addin/public/manifest.development.xml
  outlook_addin/public/manifest.xml
Due: azure-pipelines-addin-cd.yml

Merged PR 125: Rephrase prompt response should never be an email template
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

unified auth middlewares
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/AuthorizationMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/InternalAuthorizationMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/ApplicationServiceRegistration.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

IAsyncLifeTime instead of IDisposable
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

return empty list instead of null
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Logging/CloudLogService.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

use expression body
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

use 'when' clause in exception handler
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/ExceptionHandlerMiddleware.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

added using
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Logging/CloudLogService.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 127: Updated ACR
  azure-pipelines-addin-cd.yml
  azure-pipelines-web-cd.yml
  azure-pipelines_api_cd.yml
Due: none

Merged PR 126: Resurrect CopyZilla x1
  backend/CopyZillaBackend/src/CopyZillaBackend.API/appsettings.json
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/ProductTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
  internal/copyzilla_dashboard/.env
  outlook_addin/.env
  outlook_addin/public/manifest.development.xml
  outlook_addin/public/manifest.xml
  outlook_addin/src/views/PaymentOverdueView.tsx
  outlook_addin/src/views/SignedOutView.tsx
  web/.env
  web/src/layout/PublicLayout.js
  web/src/pages/website/PrivacyPolicy.js
  web/src/pages/website/TermsOfService.js
  web/src/pages/website/about/About.js
  web/src/pages/website/contact/Contact.js
  web/src/pages/website/install_guide/InstallGuide.js
  web/src/pages/website/landing/sections/FaqSection.js
  web/src/redirect/InitRedirect.js
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/src/config/envConfig.ts
Due: azure-pipelines-addin-cd.yml, azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml, azure-pipelines_dashboard_cd.yml

Merged PR 128: Resurrect CopyZilla x2
  outlook_addin/.env
  web/.env
Due: azure-pipelines-addin-cd.yml, azure-pipelines-web-cd.yml

Merged PR 129: Resurrect CopyZilla x3
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/CreateUserCommand/CreateUserCommandHandler.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

removed exposed stuff
  backend/CopyZillaBackend/src/CopyZillaBackend.API/appsettings.json
  backend/CopyZillaBackend/src/CopyZillaBackend.API/firebaseConfig.Development.json
  backend/CopyZillaBackend/src/CopyZillaBackend.API/firebaseConfig.Internal.json
  backend/CopyZillaBackend/src/CopyZillaBackend.API/firebaseConfig.json
  internal/copyzilla_dashboard/src/config/firebaseConfig.ts
  outlook_addin/.env
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/src/config/firebaseConfig.ts
Due: azure-pipelines-addin-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml, azure-pipelines_dashboard_cd.yml

removed exposed stuff
  web/.env
Due: azure-pipelines-web-cd.yml

Path conditions:
  azure-pipelines-addin-cd.yml: any of: outlook_addin, but not: web, backend, internal, web_extensions
  azure-pipelines-web-cd.yml: any of: web, but not: backend
  azure-pipelines.yml: any of: backend, but not: web
  azure-pipelines_api_cd.yml: any of: backend, but not: web
  azure-pipelines_dashboard_cd.yml: any of: internal/copyzilla_dashboard, but not: backend, web, web_extensions
  azure-pipelines_web.yml: any of: copyzilla_web, but not: functions
