Repository kiralyandrasdev/CopyZilla: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml, azure-pipelines_dashboard_cd.yml, azure-pipelines_web.yml

azure-pipelines-web-cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: CI
    displayName: Build, test and deploy docker image to ACR
    jobs:
    - job: Test
      displayName: Run tests
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DotNetCoreCLI@2
        inputs:
          command: test
  ...

azure-pipelines_api_cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines_dashboard_cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines_web.yml:
  stages:
  - stage: Deploy
    displayName: Build and deploy
    jobs:
    - job: Build
      displayName: Build docker image
      pool:
        vmImage: $(macImage)
      steps:
      - task: FlutterInstall@0

added scheduled tasks
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Scheduler/IScheduledTasks.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Scheduler/ScheduledTasks.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Scheduler/TaskScheduler.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

tests are green
  backend/CopyZillaBackend/tests/API.Tests/Database/MongoDBManager.cs
  backend/CopyZillaBackend/tests/API.Tests/Engine/WebApplicationFactoryEngine.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/ProductTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
  backend/CopyZillaBackend/tests/API.Tests/Stripe/StripeManager.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

tests are green once again
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
  backend/CopyZillaBackend/tests/API.Tests/Stripe/StripeManager.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Landing page redesign part 1
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/assets/addin-demo.png
  web/src/assets/lotties/mail_lottie.json
  web/src/assets/lotties/person_mailing_lottie.json
  web/src/assets/outlook.png
  web/src/features/authentication/components/LoginForm.js
  web/src/index.css
  web/src/layout/PublicLayout.css
  web/src/layout/PublicLayout.js
  web/src/pages/website/landing/Landing2.js
  web/src/pages/website/landing/Landing2.module.css
  web/src/pages/website/landing/Section.css
  web/src/pages/website/landing/components/DownloadButton.js
  web/src/pages/website/landing/components/DownloadButton.module.css
  web/src/pages/website/landing/components/FeatureCard.js
  web/src/pages/website/landing/components/FeatureCard.module.css
  web/src/pages/website/landing/components/PricingCard2.js
  web/src/pages/website/landing/components/PricingCard2.module.css
  web/src/pages/website/landing/components/SectionTag.js
  web/src/pages/website/landing/components/SectionTag.module.css
  web/src/pages/website/landing/sections/DemoSection.js
  web/src/pages/website/landing/sections/DemoSection.module.css
  web/src/pages/website/landing/sections/DownloadSection.js
  web/src/pages/website/landing/sections/DownloadSection.module.css
  web/src/pages/website/landing/sections/FeaturesSection.js
  web/src/pages/website/landing/sections/FeaturesSection.module.css
  web/src/pages/website/landing/sections/HeroSection.js
  web/src/pages/website/landing/sections/HeroSection.module.css
  web/src/pages/website/landing/sections/PricingSection.js
  web/src/pages/website/landing/sections/PricingSection.module.css
Due: azure-pipelines-web-cd.yml

bye redis
  backend/CopyZillaBackend/src/CopyZillaBackend.API/appsettings.json
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/CreateUserCommand/CreateUserCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/InfrastructureServiceRegistration.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Product/ProductService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Cache/RedisCacheService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/CopyZillaBackend.Persistence.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/PersistenceServiceRegistration.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

unused interface removed
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Persistence/ICacheService.cs
  web/package.json
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

Revert "unused interface removed"
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Persistence/ICacheService.cs
  web/package.json
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

unused interface removed
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Persistence/ICacheService.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

small code refactor
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added FAQ section
  web/src/pages/website/landing/Landing2.js
  web/src/pages/website/landing/Landing2.module.css
  web/src/pages/website/landing/components/FaqCard.js
  web/src/pages/website/landing/components/FaqCard.module.css
  web/src/pages/website/landing/sections/FaqSection.js
  web/src/pages/website/landing/sections/FaqSection.module.css
Due: azure-pipelines-web-cd.yml

Modified pricing section cards
  web/src/pages/website/landing/components/PricingCard2.js
  web/src/pages/website/landing/sections/PricingSection.js
Due: azure-pipelines-web-cd.yml

Added CTA section
  web/src/assets/square-screenshot.png
  web/src/pages/website/landing/Landing2.js
  web/src/pages/website/landing/Landing2.module.css
  web/src/pages/website/landing/sections/CtaSection.js
  web/src/pages/website/landing/sections/CtaSection.module.css
  web/src/pages/website/landing/sections/FaqSection.js
Due: azure-pipelines-web-cd.yml

Added scroll to pricing and modified auth pages color and font sizing
  web/src/App.js
  web/src/features/authentication/components/AuthForm.css
  web/src/features/authentication/components/LoginForm.js
  web/src/features/authentication/components/SignupForm.js
  web/src/index.js
  web/src/layout/PublicLayout.css
  web/src/layout/PublicLayout.js
  web/src/pages/website/landing/Landing2.js
  web/src/pages/website/landing/sections/PricingSection.js
Due: azure-pipelines-web-cd.yml

Added trial as default subscription mode, deleted free plan from stripe and removed select subscription page
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Common/StripeProductMetadata.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Payment/IStripeService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/CreateUserCommand/CreateUserCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetUserQuery/GetUserQueryDto.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetUserQuery/GetUserQueryHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Domain/Entities/Product.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Domain/Entities/User.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Payment/StripeService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Product/ProductService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Webhook/EventHandlers/CustomerSubscriptionCreatedEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Webhook/EventHandlers/CustomerSubscriptionUpdatedEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Migrations/20230322163045_initial.Designer.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Migrations/20230322163045_initial.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Migrations/CopyZillaBackendDBContextModelSnapshot.cs
  outlook_addin/manifest.development.xml
  web/src/features/authentication/components/RecoveryForm.js
  web/src/features/authentication/components/VerifyEmailForm.js
  web/src/index.js
  web/src/layout/PublicLayout.js
  web/src/layout/header/PrivateHeader.css
  web/src/layout/header/PrivateHeader.js
  web/src/pages/app/Account.js
  web/src/pages/app/PaymentOverdue.css
  web/src/pages/app/PaymentOverdue.js
  web/src/pages/website/landing/sections/PricingSection.js
  web/src/redirect/InitRedirect.js
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

Removed unused code and added navigation from pricing cards
  outlook_addin/.cert/cert.pem
  outlook_addin/.cert/key.pem
  outlook_addin/.gitignore
  outlook_addin/README.md
  outlook_addin/localhost-key.pem
  outlook_addin/localhost.pem
  outlook_addin/manifest.development.xml
  outlook_addin/manifest.xml
  outlook_addin/package-lock.json
  outlook_addin/package.json
  outlook_addin/yarn.lock
  web/src/App.js
  web/src/features/editor/actions/editorActions.js
  web/src/features/editor/components/PromptResultView.css
  web/src/features/editor/components/PromptResultView.js
  web/src/features/editor/editorSlice.js
  web/src/features/editor/models/advancedPrompt.js
  web/src/features/editor/models/quickPrompt.js
  web/src/features/saved_results/actions/savedResultsActions.js
  web/src/features/saved_results/components/SavedPromptResult.css
  web/src/features/saved_results/components/SavedPromptResult.js
  web/src/features/saved_results/promptResultsSlice.js
  web/src/layout/PrivateLayout.js
  web/src/pages/app/Account.js
  web/src/pages/website/Landing.css
  web/src/pages/website/Landing.js
  web/src/pages/website/landing/Landing.js
  web/src/pages/website/landing/Landing.module.css
  web/src/pages/website/landing/components/PricingCard.js
  web/src/pages/website/landing/components/PricingCard.module.css
  web/src/pages/website/landing/sections/PricingSection.js
Due: azure-pipelines-web-cd.yml

Modified payment overdue logic on web
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Webhook/EventHandlers/CustomerSubscriptionUpdatedEventHandler.cs
  web/src/features/user/context/userContext.js
  web/src/layout/header/PrivateHeader.js
  web/src/pages/app/PaymentOverdue.js
  web/src/redirect/InitRedirect.js
  web/src/redux/store/store.js
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

added subscription status check to validators
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Error/ErrorMessages.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEventValidator.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added dropshadow to header when scrolled and added about page
  web/src/layout/PublicLayout.css
  web/src/layout/PublicLayout.js
  web/src/pages/website/about/About.js
  web/src/pages/website/about/About.module.css
  web/src/pages/website/contact/Contact.js
Due: azure-pipelines-web-cd.yml

Modified about page portrait view
  web/src/pages/website/about/About.module.css
Due: azure-pipelines-web-cd.yml

handle subscription deleted event
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Controllers/WebhookController.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Webhook/EventHandlers/CustomerSubscriptionDeletedEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Webhook/EventHandlers/CustomerSubscriptionUpdatedEventHandler.cs
  web/src/pages/app/Account.js
  web/src/pages/app/PaymentOverdue.js
  web/src/pages/website/landing/sections/FeaturesSection.module.css
  web/src/redirect/InitRedirect.js
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

signout option added on payment overdue page
  web/src/pages/app/PaymentOverdue.css
  web/src/pages/app/PaymentOverdue.js
  web/src/redirect/InitRedirect.js
Due: azure-pipelines-web-cd.yml

Removed some text
  web/src/layout/PublicLayout.css
  web/src/layout/header/PrivateHeader.js
  web/src/pages/app/Home.js
  web/src/pages/app/templates/EmailTemplates.js
  web/src/pages/website/TermsOfService.js
  web/src/pages/website/landing/sections/FaqSection.js
  web/src/pages/website/landing/sections/FeaturesSection.js
  web/src/pages/website/landing/sections/PricingSection.js
Due: azure-pipelines-web-cd.yml

Modified outlook add-in
  outlook_addin/.cert/cert.pem
  outlook_addin/.cert/key.pem
  outlook_addin/README.md
  outlook_addin/localhost-key.pem
  outlook_addin/localhost.pem
  outlook_addin/manifest.development.xml
  outlook_addin/manifest.xml
  outlook_addin/public/index.html
  outlook_addin/public/manifest.json
  outlook_addin/src/App.tsx
  outlook_addin/src/assets/choice.svg
  outlook_addin/src/config/envConfig.ts
  outlook_addin/src/context/appContext.tsx
  outlook_addin/src/models/model_application_user.ts
  outlook_addin/src/redirect/InitRedirect.tsx
  outlook_addin/src/views/PaymentOverdueView.module.css
  outlook_addin/src/views/PaymentOverdueView.tsx
  outlook_addin/src/views/SignedOutView.tsx
  web/src/pages/app/PaymentOverdue.js
  web/src/pages/website/landing/sections/PricingSection.js
Due: azure-pipelines-web-cd.yml

extended prompt with the necessary command
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Modified credit text and add payment overdue redirect
  outlook_addin/src/components/PrimaryButton.tsx
  outlook_addin/src/models/model_application_user.ts
  outlook_addin/src/redirect/InitRedirect.tsx
  outlook_addin/src/views/PaymentOverdueView.tsx
  outlook_addin/src/views/SignedInView.tsx
  outlook_addin/src/views/SignedOutView.tsx
Due: none

Added Docker support to Addin
  azure-pipelines-addin-cd.yml
  outlook_addin/Dockerfile
  outlook_addin/nginx/nginx.conf
Due: none

fix failing prompt tests
  backend/CopyZillaBackend/tests/API.Tests/Database/PostgresDBManager.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added subscription checkout command for user
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Controllers/CheckoutController.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Controllers/UserController.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Payment/IStripeService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateCheckoutSessionCommand.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateCheckoutSessionCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateCheckoutSessionCommandResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateCheckoutSessionCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateCheckoutSessionOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateSubscriptionCommand.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateSubscriptionCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateSubscriptionCommandResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Payment/Commands/CreateSubscriptionCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Payment/StripeService.cs
  web/src/features/api/apiSlice.js
  web/src/layout/header/PrivateHeader.js
  web/src/pages/app/PaymentOverdue.js
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

Added new icon to web and add-in
  outlook_addin/manifest.development.xml
  outlook_addin/manifest.xml
  outlook_addin/public/index.html
  outlook_addin/public/logo128.png
  outlook_addin/public/logo192.png
  outlook_addin/public/logo256.png
  outlook_addin/public/logo512.png
  outlook_addin/src/assets/email.svg
  web/public/LOGO_TRANS_FULL_tr_fl_128.png
  web/public/LOGO_TRANS_FULL_tr_fl_512.png
  web/public/index.html
  web/public/logo128.png
  web/public/logo256.png
  web/public/logo512.png
  web/public/logo64.png
  web/public/logo96.png
  web/public/manifest.json
  web/src/assets/logo/LOGO_TRANS_FULL_tr_fl_128.png
  web/src/assets/logo/LOGO_TRANS_FULL_tr_fl_512.png
  web/src/layout/PublicLayout.css
  web/src/layout/PublicLayout.js
Due: azure-pipelines-web-cd.yml

Moved manifest to public
  outlook_addin/public/manifest.development.xml
  outlook_addin/public/manifest.xml
Due: none

Merged PR 108: Parse OpenAI error responses
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Exceptions/OpenAIException.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/OpenAI/OpenAIErrorContent.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/OpenAI/OpenAIService.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 109: Remove Outlook safelinks from prompt
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/OpenAI/OpenAIService.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

modified lottie size on landing page
  web/src/pages/website/landing/components/PricingCard.module.css
  web/src/pages/website/landing/sections/HeroSection.module.css
Due: azure-pipelines-web-cd.yml

Reduced section padding in portrait view
  web/src/pages/website/landing/Section.css
Due: azure-pipelines-web-cd.yml

Modified Hero padding in portrait
  web/src/pages/website/landing/sections/HeroSection.js
  web/src/pages/website/landing/sections/HeroSection.module.css
Due: azure-pipelines-web-cd.yml

Outlook add-in icon resize
  outlook_addin/public/index.html
  outlook_addin/public/logo64.png
  outlook_addin/public/manifest.json
  outlook_addin/public/manifest.xml
Due: none

Added install page and modified website copy
  some.html
  web/src/App.js
  web/src/assets/install_steps/install_step_1.png
  web/src/assets/install_steps/install_step_2.png
  web/src/assets/install_steps/install_step_3.png
  web/src/assets/install_steps/install_step_4.png
  web/src/pages/website/about/About.js
  web/src/pages/website/contact/Contact.js
  web/src/pages/website/install_guide/InstallGuide.js
  web/src/pages/website/install_guide/InstallGuide.module.css
  web/src/pages/website/install_guide/components/InstallStep.js
  web/src/pages/website/install_guide/components/InstallStep.module.css
  web/src/pages/website/landing/Landing.module.css
  web/src/pages/website/landing/components/DownloadButton.js
  web/src/pages/website/landing/components/FeatureCard.module.css
  web/src/pages/website/landing/sections/CtaSection.js
  web/src/pages/website/landing/sections/CtaSection.module.css
  web/src/pages/website/landing/sections/FaqSection.js
  web/src/pages/website/landing/sections/FeaturesSection.js
  web/src/pages/website/landing/sections/PricingSection.js
Due: azure-pipelines-web-cd.yml

Modified home page
  web/src/layout/header/PrivateHeader.css
  web/src/layout/header/PrivateHeader.js
  web/src/layout/sidebar/Sidebar.js
  web/src/pages/app/Home.js
Due: azure-pipelines-web-cd.yml

Modified compose type logic
  outlook_addin/src/views/SignedInView.tsx
Due: none

Path conditions:
  azure-pipelines-web-cd.yml: any of: web, but not: backend
  azure-pipelines.yml: any of: backend, but not: web
  azure-pipelines_api_cd.yml: any of: backend, but not: web
  azure-pipelines_dashboard_cd.yml: any of: internal/copyzilla_dashboard, but not: backend, web, web_extensions
  azure-pipelines_web.yml: any of: copyzilla_web, but not: functions
