Repository kiralyandrasdev/CopyZilla: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml, azure-pipelines_web.yml

azure-pipelines-web-cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: CI
    displayName: Build, test and deploy docker image to ACR
    jobs:
    - job: Test
      displayName: Run tests
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: DotNetCoreCLI@2
        inputs:
          command: test
  ...

azure-pipelines_api_cd.yml:
  stages:
  - stage: BuildAndPush
    displayName: Build and push docker image to ACR
    jobs:
    - job: Build
      displayName: Build and push docker image to ACR
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build docker image
        inputs:
  ...

azure-pipelines_web.yml:
  stages:
  - stage: Deploy
    displayName: Build and deploy
    jobs:
    - job: Build
      displayName: Build docker image
      pool:
        vmImage: $(macImage)
      steps:
      - task: FlutterInstall@0

Updated GA tracking to GA4
  web/.env
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/config/envConfig.js
  web/src/redirect/RouteChangeTracker.js
Due: azure-pipelines-web-cd.yml

Updated GA to not send pageviews from local environment
  web/src/App.js
  web/src/redirect/RouteChangeTracker.js
Due: azure-pipelines-web-cd.yml

Added CD file for dashboard
  azure-pipelines_dashboard_cd.yml
Due: none

Update azure-pipelines_dashboard_cd.yml for Azure Pipelines
  azure-pipelines_dashboard_cd.yml
Due: none

Added nginx conf
  internal/copyzilla_dashboard/nginx/nginx.conf
Due: none

Adde authorization to internal dashboard and api endpoint
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/InternalAuthorizationMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/firebaseConfig.Internal.json
  internal/copyzilla_dashboard/src/features/api/apiSlice.tsx
  internal/copyzilla_dashboard/src/features/auth/authSlice.tsx
  internal/copyzilla_dashboard/src/features/redux/store.tsx
  internal/copyzilla_dashboard/src/index.tsx
  internal/copyzilla_dashboard/src/redirect/AuthRedirect.tsx
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Removed CRA branding
  internal/copyzilla_dashboard/public/favicon.ico
  internal/copyzilla_dashboard/public/index.html
  internal/copyzilla_dashboard/public/logo128.png
  internal/copyzilla_dashboard/public/logo192.png
  internal/copyzilla_dashboard/public/logo256.png
  internal/copyzilla_dashboard/public/logo512.png
  internal/copyzilla_dashboard/public/manifest.json
  internal/copyzilla_dashboard/src/logo.svg
Due: none

Renamed site header
  internal/copyzilla_dashboard/src/pages/layout/Layout.tsx
Due: none

Modified auth and internal request logging
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/ExceptionHandlerMiddleware.cs
  internal/copyzilla_dashboard/src/features/api/apiSlice.tsx
  internal/copyzilla_dashboard/src/redirect/AuthRedirect.tsx
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Fixed token refresh
  web_extensions/copyzilla_email_assistant/background/background.js
Due: none

Added client type and email address error logging to web and api
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/ExceptionHandlerMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Logging/ICloudLogBuilder.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/InfrastructureServiceRegistration.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Logging/CloudLogBuilder.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Logging/CloudLogService.cs
  web/src/features/api/apiSlice.js
  web/src/features/authentication/authSlice.js
  web/src/features/payment/actions/paymentActions.js
  web/src/redirect/AuthRedirect.js
  web_extensions/copyzilla_email_assistant/manifest.json
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

Modified fetch user and email writing in extension and added client type and email address to header
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Logging/ICloudLogBuilder.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Logging/CloudLogBuilder.cs
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/src/features/api/apiActions.ts
  web_extensions/copyzilla_email_assistant/src/views/SignedInView.tsx
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Updated extension version to 1.0.3
  web_extensions/copyzilla_email_assistant/manifest.json
Due: none

Added product roadmap section to landing page
  web/src/layout/PublicLayout.css
  web/src/layout/PublicLayout.js
  web/src/pages/website/Landing.css
  web/src/pages/website/Landing.js
  web/src/pages/website/landing/components/VersionScroll.js
  web/src/pages/website/landing/components/VersionScroll.module.css
  web/src/pages/website/landing/components/VersionView.js
  web/src/pages/website/landing/components/VersionView.module.css
  web/src/pages/website/landing/components/VersionViewAnimations.css
Due: azure-pipelines-web-cd.yml

Merged PR 89: Added /user/templates API endpoints
  .gitignore
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Controllers/UserController.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/appsettings.json
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Persistence/IMongoRepository.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeletePromptResultCommand/DeletePromptResultCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteTemplateCommand/DeleteTemplateCommand.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteTemplateCommand/DeleteTemplateCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteTemplateCommand/DeleteTemplateCommandResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteTemplateCommand/DeleteTemplateCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SavePromptResultCommand/SavePromptResultCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommand.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetSavedPromptResultListQuery/GetSavedPromptResultListQueryHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetSavedPromptResultListQuery/GetSavedPromptResultListQueryValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetSavedTemplateListQuery/GetSavedTemplateListQuery.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetSavedTemplateListQuery/GetSavedTemplateListQueryHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetSavedTemplateListQuery/GetSavedTemplateListQueryResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetSavedTemplateListQuery/GetSavedTemplateListQueryValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Domain/Contracts/IMongoEntity.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Domain/Entities/PromptResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Domain/Entities/Template.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/PersistenceServiceRegistration.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Repositories/MongoRepository.cs
  backend/CopyZillaBackend/tests/API.Tests/Database/MongoDBManager.cs
  backend/CopyZillaBackend/tests/API.Tests/Engine/WebApplicationFactoryEngine.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 90: Fine tune prompts for better email generation
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 91: Added PATCH endpoint for email templates feature
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Controllers/UserController.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Persistence/IMongoRepository.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommand.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Repositories/MongoRepository.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 92: Soft limit added to template and template content character/title count
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandValidator.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Merged PR 93: Trim white space from title and content
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandOptions.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added email templates UI to web and extension
  web/src/App.js
  web/src/components/form/TextField.css
  web/src/components/form/TextField.js
  web/src/features/api/apiSlice.js
  web/src/features/templates/templateContext.js
  web/src/index.css
  web/src/index.js
  web/src/layout/PrivateLayout.css
  web/src/layout/header/PrivateHeader.css
  web/src/layout/header/PrivateHeader.js
  web/src/layout/sidebar/Sidebar.js
  web/src/layout/sidebar/nav/SidebarNavItem.css
  web/src/layout/sidebar/nav/SidebarNavItem.js
  web/src/pages/app/templates/EmailTemplates.js
  web/src/pages/app/templates/EmailTemplates.module.css
  web/src/pages/app/templates/components/SavedTemplateList.js
  web/src/pages/app/templates/components/SavedTemplateList.module.css
  web/src/pages/app/templates/components/SavedTemplateListView.js
  web/src/pages/app/templates/components/SavedTemplateListView.module.css
  web/src/pages/app/templates/components/TemplateEditor.js
  web/src/pages/app/templates/components/TemplateEditor.module.css
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/App.css
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/buttons/TemplatesButton.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/popups/TemplatesPopup.module.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/popups/TemplatesPopup.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/templates/Templates.module.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/templates/Templates.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/main.css
  web_extensions/copyzilla_email_assistant/src/features/models/model_template.ts
Due: azure-pipelines-web-cd.yml

Added 'Enter' keylistener and added sign in wait time before fetching user
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/src/App.tsx
  web_extensions/copyzilla_email_assistant/src/features/authentication/LoginForm.tsx
Due: none

modified action colors on templates page
  web/src/pages/app/templates/components/TemplateEditor.js
Due: azure-pipelines-web-cd.yml

Fix extension page icon
  web_extensions/copyzilla_email_assistant/manifest.json
Due: none

Modified product roadmap
  web/src/pages/website/landing/components/VersionScroll.js
Due: azure-pipelines-web-cd.yml

Merged PR 98: Added user/userId/rephrasePrompt endpoint in API
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Controllers/UserController.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Prompt/IPromptBuilder.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEvent.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEventOptions.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEventResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added rephrase popup
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/App.css
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/instructions/Instructions.module.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/rephrase/Rephrase.module.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/rephrase/Rephrase.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/templates/Templates.module.css
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
Due: none

Added rephrase feature on extension UI
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/rephrase/Rephrase.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/templates/Templates.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/utils/emailUtils.ts
Due: none

Added signed in check in background script to content get and rephrase requests
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/popups/TemplatesPopup.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/templates/Templates.tsx
Due: none

Updated version in manifest.json and updated website roadmap
  web/src/pages/website/landing/components/VersionScroll.js
  web_extensions/copyzilla_email_assistant/manifest.json
Due: azure-pipelines-web-cd.yml

Added dynamic credit decrease in Outlook Add-in
  outlook_addin/src/context/userContext.tsx
  outlook_addin/src/features/compose/components/compose_area/ComposeArea.tsx
  outlook_addin/src/models/model_application_user.ts
  outlook_addin/src/redirect/InitRedirect.tsx
  outlook_addin/src/views/SignedInView.tsx
Due: none

Added should not test to email generate prompt based on credit limit
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Cache/ProductService.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
  backend/CopyZillaBackend/tests/API.Tests/Stripe/StripeManager.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Moved validation error messages to central static class
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Error/ErrorMessages.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/CreateUserCommand/CreateUserCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteTemplateCommand/DeleteTemplateCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/SaveTemplateCommand/SaveTemplateCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateTemplateCommand/UpdateTemplateCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateUserCommand/UpdateUserCommandValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetSavedTemplateListQuery/GetSavedTemplateListQueryValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetUserQuery/GetUserQueryValidator.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Removed legacy test
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/ProductTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Modified web to support credit limit change
  web/src/App.js
  web/src/features/user/context/userContext.js
  web/src/layout/header/PrivateHeader.js
  web/src/pages/app/Account.js
  web/src/pages/app/Create.css
  web/src/pages/app/Create.js
  web/src/pages/app/CreditRefill.css
  web/src/pages/app/CreditRefill.js
  web/src/pages/app/SavedResults.css
  web/src/pages/app/SavedResults.js
  web/src/pages/website/pricing/cards/PricingCard.js
  web/src/pages/website/pricing/cards/PricingCard.module.css
Due: azure-pipelines-web-cd.yml

Modified add-in to support consumed credits feature
  outlook_addin/src/context/userContext.tsx
  outlook_addin/src/features/api/apiSlice.ts
  outlook_addin/src/features/compose/components/compose_area/ComposeArea.tsx
  outlook_addin/src/models/model_application_user.ts
  outlook_addin/src/redirect/InitRedirect.tsx
  outlook_addin/src/views/SignedInView.tsx
  web/src/pages/website/pricing/Pricing.js
Due: azure-pipelines-web-cd.yml

delete email templates from db after user is deleted
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/DeleteUserCommand/DeleteUserCommandHandler.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

added redis cache for products
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/appsettings.json
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Common/StripeProductMetadata.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Cache/IProductService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Payment/IStripeService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/Persistence/ICacheService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Contracts/ServiceUsage/IServiceUsageHistoryRepository.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/CopyZillaBackend.Application.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessRephrasePromptEvent/ProcessRephrasePromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/CreateUserCommand/CreateUserCommandHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Queries/GetUserQuery/GetUserQueryHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Domain/Entities/EmailTemplate.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Domain/Entities/PromptResult.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/CopyZillaBackend.Infrastructure.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/InfrastructureServiceRegistration.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Logging/CloudLogBuilder.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Payment/StripeService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Product/ProductService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Webhook/EventHandlers/CustomerSubscriptionCreatedEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Webhook/EventHandlers/CustomerSubscriptionUpdatedEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/StripeServices/Webhook/WebhookEventHandlerProvider.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Webhook/EventHandlers/CheckoutSessionCompletedEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Webhook/EventHandlers/InvoicePaymentSucceededEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Cache/ProductService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Cache/RedisCacheService.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Cache/TempCache.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/CopyZillaBackend.Persistence.csproj
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/PersistenceServiceRegistration.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Persistence/Repositories/ServiceUsageHistoryRepository.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Path conditions:
  azure-pipelines-web-cd.yml: any of: web, but not: backend
  azure-pipelines.yml: any of: backend, but not: web
  azure-pipelines_api_cd.yml: any of: backend, but not: web
  azure-pipelines_web.yml: any of: copyzilla_web, but not: functions
