Repository kiralyandrasdev/CopyZilla: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml, azure-pipelines_web.yml

Path conditions:
  azure-pipelines-web-cd.yml: any of: web, but not: backend
  azure-pipelines.yml: any of: backend, but not: web
  azure-pipelines_api_cd.yml: any of: backend, but not: web
  azure-pipelines_web.yml: any of: copyzilla_web, but not: functions

init commit
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/StripeWebhookMiddleware.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/appsettings.json
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

asd
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/StripeWebhookMiddleware.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

stripe event validation finished
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Controllers/WebhookController.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Middlewares/StripeWebhookMiddleware.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Removed margin on right side in private layout
  web/src/layout/PrivateLayout.css
Due: azure-pipelines-web-cd.yml

Fixed user select subscription page layout
  web/src/features/payment/components/SubscriptionOption.css
  web/src/layout/FullscreenLayout.css
  web/src/pages/app/SelectSubscription.css
  web/src/pages/app/SelectSubscription.js
Due: azure-pipelines-web-cd.yml

Removed unnecessary permissions from manifest.json in extension
  web_extensions/copyzilla_email_assistant/manifest.json
Due: none

out of credit message translated
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/User/Commands/UpdateUserCommand/UpdateUserCommandValidator.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Translated extension popup to english.
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/buttons/InstructionsButton.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/buttons/ReplyButton.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/popups/InstructionsPopup.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/config/replyConfig.ts
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
  web_extensions/copyzilla_email_assistant/src/App.tsx
  web_extensions/copyzilla_email_assistant/src/features/authentication/LoginForm.tsx
  web_extensions/copyzilla_email_assistant/src/views/SignedInView.tsx
  web_extensions/copyzilla_email_assistant/src/views/SignedOutView.tsx
Due: none

implemented a few missing user and prompt tests
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Common/ValidationResultResolver.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessAdvancedPromptEvent/ProcessAdvancedPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventHandler.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessQuickPromptEvent/ProcessQuickPromptEventHandler.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/PromptTests.cs
  backend/CopyZillaBackend/tests/API.Tests/IntegrationTests/UserTests.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added new media
  web/src/assets/context.png
  web/src/assets/instructions.png
  web/src/assets/multilingual.png
  web/src/pages/website/Landing.css
  web/src/pages/website/Landing.js
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/manifest.json
Due: azure-pipelines-web-cd.yml

Fixed credit count and disabled google translate for whole site
  web/public/index.html
  web/src/pages/website/pricing/Pricing.js
Due: azure-pipelines-web-cd.yml

translated hungarian texts to english
  web/src/layout/PublicLayout.js
  web/src/pages/website/AboutUs.js
  web/src/pages/website/PrivacyPolicy.js
  web/src/pages/website/TermsOfService.js
  web/src/redirect/InitRedirect.js
Due: azure-pipelines-web-cd.yml

redirect to auth login
  web/src/features/authentication/components/SignupForm.js
Due: azure-pipelines-web-cd.yml

added eventlistener for enter button
  web/src/features/authentication/components/LoginForm.js
  web/src/features/authentication/components/RecoveryForm.js
  web/src/features/authentication/components/SignupForm.js
Due: azure-pipelines-web-cd.yml

ported out hun error messages
  web/src/features/authentication/components/LoginForm.js
  web/src/features/authentication/components/SignupForm.js
Due: azure-pipelines-web-cd.yml

new credentials has been added to test firebase project
  .gitignore
  backend/CopyZillaBackend/src/CopyZillaBackend.API/Program.cs
  web/.env
  web/src/config/firebaseConfig.js
Due: azure-pipelines-web-cd.yml, azure-pipelines.yml, azure-pipelines_api_cd.yml

use test firebase project in extension
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
  web_extensions/copyzilla_email_assistant/src/App.tsx
  web_extensions/copyzilla_email_assistant/src/config/firebaseConfig.ts
  web_extensions/copyzilla_email_assistant/src/main.tsx
Due: none

signup form corrected
  web/.env
  web/src/config/envConfig.js
  web/src/features/authentication/components/SignupForm.js
Due: azure-pipelines-web-cd.yml

include firebaseconfig.development.json in api project
  backend/CopyZillaBackend/src/CopyZillaBackend.API/CopyZillaBackend.API.csproj
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

add firebaseconfig.development.json to the repo
  .gitignore
  backend/CopyZillaBackend/src/CopyZillaBackend.API/firebaseConfig.Development.json
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Half finished support for outlook client and inline instructions field
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/context/optionsContext.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/utils/optionsUtils.ts
Due: none

Removed unnecessary extension permissions
  web_extensions/copyzilla_email_assistant/manifest.json
Due: none

Fixed layout for gmail new email compose, separated new and reply email type in gmail and added spacing between paragraphs
  web_extensions/copyzilla_email_assistant/background/background.js
  web_extensions/copyzilla_email_assistant/content-script/src/App.css
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/context/optionsContext.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/enum/composeType.ts
  web_extensions/copyzilla_email_assistant/content-script/src/enum/mailClient.ts
  web_extensions/copyzilla_email_assistant/content-script/src/enum/popupMode.ts
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/ReplyOption.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/ReplyOptionList.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/instructions/Instructions.module.css
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/instructions/Instructions.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/features/reply/components/popups/InstructionsPopup.module.css
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/utils/optionsUtils.ts
Due: none

Fixed message type mismatch
  web_extensions/copyzilla_email_assistant/background/background.js
Due: none

Fixed manual send email verification continue url
  web/src/features/authentication/components/VerifyEmailForm.js
Due: azure-pipelines-web-cd.yml

modified endpoint
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

remove "long" from replyPrompt
  backend/CopyZillaBackend/src/CopyZillaBackend.Infrastructure/Prompt/PromptBuilder.cs
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Added support for outlook online client
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/config/clientConfig.ts
  web_extensions/copyzilla_email_assistant/content-script/src/main.tsx
  web_extensions/copyzilla_email_assistant/content-script/src/utils/emailUtils.ts
  web_extensions/copyzilla_email_assistant/content-script/src/utils/gmailUtils.ts
  web_extensions/copyzilla_email_assistant/content-script/src/utils/outlookUtils.ts
  web_extensions/copyzilla_email_assistant/manifest.json
Due: none

Removed objective selector on new emails
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
Due: none

Modified validator logic in emailPrompt endpoint
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptEventValidator.cs
  backend/CopyZillaBackend/src/CopyZillaBackend.Application/Features/Prompt/ProcessEmailPromptEvent/ProcessEmailPromptOptions.cs
  web_extensions/copyzilla_email_assistant/content-script/src/App.tsx
Due: azure-pipelines.yml, azure-pipelines_api_cd.yml

Upgrade version
  web_extensions/copyzilla_email_assistant/manifest.json
Due: none

Added chrome download link
  web/src/pages/website/Landing.js
Due: azure-pipelines-web-cd.yml

Updated availability message
  web/src/pages/website/Landing.js
Due: azure-pipelines-web-cd.yml

Added download link to homepage
  web/src/pages/app/Home.js
Due: azure-pipelines-web-cd.yml

Fixed customer portal link
  web/.env
Due: azure-pipelines-web-cd.yml

Updated landing page headline
  web/src/layout/header/PrivateHeader.js
  web/src/pages/website/Landing.js
Due: azure-pipelines-web-cd.yml

Modified landing page, privacy policy, terms of service and added terms of service checkbox to signup
  web/src/components/ui/Checkbox.js
  web/src/components/ui/Checkbox.module.css
  web/src/features/authentication/components/AuthForm.css
  web/src/features/authentication/components/SignupForm.js
  web/src/layout/PublicLayout.css
  web/src/pages/website/Landing.css
  web/src/pages/website/Landing.js
  web/src/pages/website/PrivacyPolicy.js
  web/src/pages/website/TermsOfService.js
Due: azure-pipelines-web-cd.yml

Added Google Analytics tracking to web
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/index.js
  web/src/redirect/RouteChangeTracker.js
Due: azure-pipelines-web-cd.yml

Fixed illustration size
  web/src/pages/app/Home.js
Due: azure-pipelines-web-cd.yml
